# Data Management (Spring/Summer 2018) at OSIPP, Osaka U
By Shuhei Kitamura

## R basics

### Outline
1. Arithmetic operation
2. Run R scripts
3. Variables
    - Variable assignment
    - Classes
    - Concatenation
    - Vectors
    - Matrices
    - Factors
    - Data frames
        - Get elements
        - Change contents
        - Computation
        - Treat missing values
        - Merge
    - Lists
7. Functions and Libraries
8. If Statements
9. Loops

## 1. Arithmetic operation
- Main operators are `+`, `-`, `*`, and `/`.
- Write `1 + 2` and execute (Shift + Enter or push "run cell" button). Next, do the same for `print(1 + 2)`.

In [1]:
print(1 + 2)

[1] 3

- If you want to write a comment, use #. Write `# print(1 + 2)` and execute.

In [4]:
print(1+2)# print sum of 1+2

[1] 3

- Play with `+`, `-`, `*`, and `/`.

In [5]:
1+2-3*4/5

[1] 0.6

- `^` or `**` for power. Power is right associative (= `**` in Python). How do you calculate $-2^3$, $3^{3^3}$, and $\frac{3}{3^3}$?
- Note: `^` does not calculate power in Python.

In [11]:
4^3
2^2^2

[1] 64

[1] 16

- `%%` for modulus and `%/%` for floor division. What is the outcome of `7 %% 2`? How about `7 %/% 2`?
    - `%` (modulus in Python) and `//` (floor division in Python) do not work in R.
    - Similarly, these R operators do not work in Python.

In [7]:
7 %%6

[1] 1

## 2. Run R scripts
<!--
 - Launch a text editor (e.g. Visual Studio Code). Create a new file.
 - Type `print(1 + 2)` in line 1, and `print("Hello world!")` in line 2.
 - Save the file in the local repo. Type "myR" in the file name, and set R for the file type. The file extension becomes ".r".
-->

- Suppose that you already have an R file "myR.R" in your local repository.
- Set the current directory by typing: `setwd("C:/path_to_your_local_repo)"` where you need to specify the path to your local repository. 
    - You will get an error message if you use a backslash instead of a slash.

In [13]:
setwd("C:/Users/T-Reio/D_M")

- Run the R script by typing: `source("myR.R")`.

In [15]:
source("SCRIPT.R")

[1] 3
[1] "R Studio is more useful than you!"

- Let's push the new file to your remote repository. Start a Git GUI (e.g. SoureTree).
- Stage "myR.R". Then press Commit.
- Write a commit message (e.g. "Create myR.R.").
- Commit and push.
- Check the remote repository.

## 3. Variables
- You can assign an object to a variable. An object in R is data, which does not contain any method.

#### - Variable assignment

- You use `<-` or `->` in R instead of `=` in Python. (You can also use `=` in R, but uncommon.)
```python
myvar <- "Hello world!"
print(myvar)
```
is equivalent to:
```python
print("Hello world!")
```
- In Jupyter Notebook, you can use `Alt & -` to insert `<-` and spaces. (See Keyboard Shortcuts in the Help tab above.)
- You can also use `( <- )` to assign and print at once.

In [18]:
myvar <- "Hello world!"
print(myvar)
"Hello world!" -> myvar
print(myvar)

myvar = "Hello world!"

(myvar <- "Hello world!")

[1] "Hello world!"
[1] "Hello world!"

[1] "Hello world!"

#### - Classes
- Types in Python are called classes in R. They are: numerics, integers, characters, logical, matrices, arrays, etc.
- For logical you should write `TRUE` or `FALSE`, not `True` or `False` as in Python.
- R is also case sensitive!
- You use `class()` to check the class of data. (`type()` in Python.)
    - Alternatively, you can check the class using `is.numeric()`, `is.integer()`, `is.character()`, and `is.logical()`.

In [19]:
mynum1 <- 1 # this is not an integer!
mynum2 <- 1.0 # .0 is not printed.
mynum3 <- 1.5
mychar <- "Hello"
mylogic <- TRUE

print(mynum1)
print(class(mynum1))
print(mynum2)
print(class(mynum2))
print(mynum3)
print(class(mynum3))
print(class(mychar))
print(class(mylogic))
print(is.integer(mynum1))

[1] 1
[1] "numeric"
[1] 1
[1] "numeric"
[1] 1.5
[1] "numeric"
[1] "character"
[1] "logical"
[1] FALSE

 <- - How you write an integer in R is different from how you do it in Python. You need to put `L` after a value.

In [20]:
myint <- 1L
mynum <- 1
print(class(myint))
print(class(mynum))

[1] "integer"
[1] "numeric"

- Logical is the same as booleans in Python.

In [21]:
print(1 + 2 == 3)
print(class(1 + 2 == 3))

[1] TRUE
[1] "logical"

- If a string includes a quote (e.g. `"This is a "quote""`), it returns an error. Use `'This is a "quote"'` instead.

In [26]:
# print("This is a "quote".")　# This returns an error.
print('This is a "quote".')

[1] "This is a \"quote\"."

- To change classes, you can use `as.numeric()`, `as.integer()`, `as.character()`, and `as.logical()`.

In [27]:
mynum <- 1
print(as.character(mynum))
mynum <- 1
print(as.integer(mynum))

[1] "1"
[1] 1

- `FALSE` is `0` and `0` is `FALSE`. `TRUE` is `1` and `1` is `TRUE`.
    - The other numerics and integers are also `TRUE`. 
- Characters cannot be converted as logical. (Recall that strings are `True` in Python.)

In [28]:
print(as.numeric(FALSE))
print(as.logical(0))
print(as.numeric(TRUE))
print(as.logical(1))
print(as.logial("Hello!")) # This returns an error.

[1] 0
[1] FALSE
[1] 1
[1] TRUE

ERROR: Error in as.logial("Hello!"):  関数 "as.logial" を見つけることができませんでした

- The class of `NULL` is NULL (like `None` in Python, whose type is `NoneType`).
- `NaN` (Not a Number) is numeric, and `NA` (Not Available) is logical.
    - Python (pandas) only has `NaN`, which is a missing value.

In [29]:
print(class(NULL))
print(class(NaN))
print(class(NA))
print(as.logical(NaN)) # you can convert NaN to logical
print(as.numeric(NA)) # but you cannot convert NA to numeric...

[1] "NULL"
[1] "numeric"
[1] "logical"
[1] NA
[1] NA

#### - Concatenation
- While in Python you could write `"Hello" + " World!"` for concatenating strings, you cannot use `+` in the similar way in R.
- Instead, you need to use `paste()`. With `paste`, you can also concatenate characters with other classes.
- Similarly, you cannot use `*` as `"Hello" * 2` in R either.

In [30]:
# print("Hello" + "World!") # This returns an error.
myvar1 <- "Hello"
myvar2 <- " World!"
paste(myvar1, myvar2, sep = "")

savings = 100
print(paste("I have ", savings, " USD in my account.", sep = ""))

[1] "Hello World!"

[1] "I have 100 USD in my account."

#### - Vectors
- The vector is one dimensional array (like `array` in NumPy). `c()` is used for vectors.
- The vector is not a distinguished class, but `numeric`, `character`, `logical`, etc. are the classes of vectors.
- Vectors can contain any classes (like `array` in NumPy).
- You can also use `c()` in `print()` to show multiple outputs at once (like `print( , )` in Python).

In [32]:
myvec <- c("a", 1, TRUE)
print(myvec)
myvec1 <- c(1,2)
myvec2 <- c(3,4)
print(c(myvec1, myvec2))

[1] "a"    "1"    "TRUE"
[1] 1 2 3 4

- Some useful ways to make a vector.
    - `:` to make a vector of numerics or integers.
    - `numeric()` to make a vector of zeros (as numeric).
        - `integer()` to make a vector of zeros (as integer).
    - `seq()` to make a vector of numerics or integers.
    - `rep()` to make a vector. Most classes can be used.

In [33]:
myvec1 <- -1:4
print(myvec1)
print(numeric(5))
print(seq(1,4,by=1)) 
print(rep("Hello",4)) 
#mylist <- list(var1 = 1:10, var2 = "Hello")
#print(rep(mylist, 5))

[1] -1  0  1  2  3  4
[1] 0 0 0 0 0
[1] 1 2 3 4
[1] "Hello" "Hello" "Hello" "Hello"

- To get a length of a vector, use `length()`.

In [34]:
myvec <- 1:10
print(length(myvec))

[1] 10

- The class of a vector depends on its elements. If a vector contains multiple classes, the highest one is chosen.
    - Classes are ordered: character > complex > numeric > logical > NULL.
- The class of an empty vector is `NULL`.

In [35]:
myvec1 <- c(1,2)
print(class(myvec1))
myvec2 <- c(1,"Hello",TRUE)
print(myvec2)
print(class(myvec2))
myvec3 <- c(1,TRUE)
print(class(myvec3))
print(class(c())) # an empty vector

[1] "numeric"
[1] "1"     "Hello" "TRUE"
[1] "character"
[1] "numeric"
[1] "NULL"

- You can assign (column) names to a vector using `names()`.

In [36]:
myvec <- c(1,10)
print(myvec)
names(myvec) <- c("Monday","Tuesday")
print(myvec)

[1]  1 10
 Monday Tuesday
      1      10

- To subset a vector, use `[]` as in Python. However, the index in R starts from one, not zero!
- You can also use vectors, names, and relational operators for subsetting a vector.

In [37]:
myvec <- c(1,10,100,1000)
names(myvec) <- c("col1","col2","col3","col4") # assign column names
print(myvec)
print(myvec[2])
print(myvec[c(2,3)])
print(myvec[c(-2,-3)])
print(myvec[c("col3","col4")])
print(myvec[myvec > 100])

col1 col2 col3 col4
   1   10  100 1000
col2
  10
col2 col3
  10  100
col1 col4
   1 1000
col3 col4
 100 1000
col4
1000

- Other useful operators are: `is.na()`, `is.null()`, `is.nan()`, and `is.infinite()`.
    - For example, you can substite NA with a value such as zero using `is.na()`.

In [38]:
myvec <- c(NA,10,100,Inf)
print(myvec[!is.na(myvec)]) # exclude NA
print(myvec[!is.infinite(myvec)]) # exclude infinity
print(myvec[!is.na(myvec) & !is.infinite(myvec)]) # exclude NA and infinity

## replace NA with 0
print(myvec)
myvec[is.na(myvec)] <- 0
print(myvec)

[1]  10 100 Inf
[1]  NA  10 100
[1]  10 100
[1]  NA  10 100 Inf
[1]   0  10 100 Inf

- To slice a vector, use `[:]`.
    - You cannot write like `[0:]` without writing the end.
    - The minus sign means exclusion, not the index from right (unlike Python).

In [39]:
myvec <- c(1,10,100,1000)
print(myvec[1:2])
print(myvec[-2:-3])

[1]  1 10
[1]    1 1000

- Vectors can be used for calculation.
    - `sum()` to compute the sum for each index, which is similar to `+` for the Numpy array.
    - `mean()` to compute the mean for each index.

In [41]:
x <- c(0,1)
y <- c(2,3)
print(c(sum(x), sum(y)))
print(c(mean(x), mean(y)))
print(x + y)
print(x * y)

[1] 1 5
[1] 0.5 2.5
[1] 2 4
[1] 0 3

#### - Matrices
- The matrix is one of the classes.
- The matrix is a two dimensional array (like `ndarray` in NumPy). You can specify the number of columns and rows, and the order of filling in the matrix.

In [42]:
mymat1 <- matrix(c(1,2,3,4),nrow=2,ncol=2) # using a vector, create a 2 by 2 matrix
print(mymat1)
print(class(mymat1))
mymat1 <- matrix(c(1,2,3,4),byrow=TRUE,nrow=2,ncol=2) # the same is above, but the matrix is filled by row
print(mymat1)
mymat3 <- matrix(1:9,byrow=TRUE,nrow=3)
print(mymat3)

     [,1] [,2]
[1,]    1    3
[2,]    2    4
[1] "matrix"
     [,1] [,2]
[1,]    1    2
[2,]    3    4
     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9

- Alternatively, you can apply `cbind()` and `rbind()` to make a matrix.

In [43]:
t_avg <- c(60,170)
c_avg <- c(62,175)
mymat1 <- cbind(t_avg,c_avg)
print(mymat1)
print(class(mymat1))
mymat2 <- rbind(t_avg,c_avg)
print(mymat2)

     t_avg c_avg
[1,]    60    62
[2,]   170   175
[1] "matrix"
      [,1] [,2]
t_avg   60  170
c_avg   62  175

- The matrix can store only one class. If there are multiple classes, the highest one is chosen.
    - Recall that classes are ordered: character > complex > numeric > logical > NULL. 
- But the class of the matrix is still matrix (unlike the vector)

In [44]:
x <- c("a","b")
y <- c(2,3)
mymat <- cbind(x,y) # character > numeric
print(mymat)
print(class(mymat[2,2])) # the class of an element in the matrix
print(class(mymat)) # the class of the matrix

     x   y
[1,] "a" "2"
[2,] "b" "3"
[1] "character"
[1] "matrix"

- Use `colnames()` and `rownames()` to add names for columns and rows, respectively.

In [45]:
t_avg <- c(60,170)
c_avg <- c(62,175)
cpop <- cbind(t_avg,c_avg)
rownames(cpop) <- c("Weight","Height")
colnames(cpop) <- c("Treatment","Control")
print(cpop)

       Treatment Control
Weight        60      62
Height       170     175

- `colSums()` and `rowSums()` for calculating sums for each column and row, respectively.
    - Instead, `sum()` compute sums for a specific column or row or the sum of all elements in a matrix.
- `colMeans()` and `rowMeans()` for calculating means for each column and row, respectively.
    - Instead, `mean()` compute means for a specific column, but not a row.

In [46]:
t_avg <- c(60,170)
c_avg <- c(62,175)
cpop <- cbind(t_avg,c_avg)
rownames(cpop) <- c("Weight","Height")
colnames(cpop) <- c("Treatment","Control")
print(cpop)
print(c(colSums(cpop),rowSums(cpop)))
print(sum(cpop))
print(c(colMeans(cpop),rowMeans(cpop)))

       Treatment Control
Weight        60      62
Height       170     175
Treatment   Control    Weight    Height
      230       237       122       345
[1] 467
Treatment   Control    Weight    Height
    115.0     118.5      61.0     172.5

- To subset a matrix, you often use `[row numbers, column numbers]`.
- You can also combine `:`, vectors, names, and relational operators.

In [47]:
x <- c(60,170,50)
y <- c(62,175,100)
z <- c(61.0,172.5,NA)
dims <- list(c("Weight","Height","Obs."),c("Treatment","Control","Mean"))
cpop <- matrix(c(x,y,z),ncol=3,dimnames=dims) # you can add column and row names at once
print(cpop)

print(cpop[1,1]) # first row, first column
print(cpop[1,1:2]) # first two columns in the first row
print(cpop[1,c(2,3)]) # second and third column in the first row
print(cpop[1,"Treatment"]) # "Treatment" column in the first row
print(cpop[1,]) # all elements in the first row

print(cpop[cpop < 100]) # all elements less than 100

# These are rarely used.
# print(cpop[3]) # the third element
# print(cpop[c(2, 3)]) # the second and the third element

       Treatment Control  Mean
Weight        60      62  61.0
Height       170     175 172.5
Obs.          50     100    NA
[1] 60
Treatment   Control
       60        62
Control    Mean
     62      61
[1] 60
Treatment   Control      Mean
       60        62        61
[1] 60 50 62 61 NA

- Matrix calculation allows `+`, `-`, `*`, and `/`. The calculation applies to all elements in the matrix.

In [48]:
mymat <- matrix(1:9,byrow=TRUE,nrow=3)
print(mymat)
print(mymat + mymat)
print(mymat * 2)

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9
     [,1] [,2] [,3]
[1,]    2    4    6
[2,]    8   10   12
[3,]   14   16   18
     [,1] [,2] [,3]
[1,]    2    4    6
[2,]    8   10   12
[3,]   14   16   18

#### - Factors
- The factor is one of the classes.
- The factor stores characters.
    - For example, a vector `c("Male", "Female", "Male")` contains two factor levels `"Male"` and `"Female"`. `factor()` encodes the vector as a factor.
- You can define the order of factor levels.

In [49]:
# ordinal categorical variable
temp <- c("High","Low","Medium","Low")
factor_temp <- factor(temp,levels=c("Low","Medium","High"),ordered=TRUE) # put levels from "Low", "Medium", to "High", where "Low" is the smallest
print(factor_temp)
print(class(factor_temp))
print(factor_temp[1] < factor_temp[2]) # check if "Low" is larger than "High"
print(summary(factor_temp)) # count the number of each element

# nominal categorical variable
animals <- c("Elephant","Giraffe","Donkey","Horse")
factor_animals <- factor(animals)
print(factor_animals)
print(class(factor_animals))
# print(factor_animals[1] < factor_animals[2]) # this returns an error.
print(summary(factor_animals))

[1] High   Low    Medium Low
Levels: Low < Medium < High
[1] "ordered" "factor"
[1] FALSE
   Low Medium   High
     2      1      1
[1] Elephant Giraffe  Donkey   Horse
Levels: Donkey Elephant Giraffe Horse
[1] "factor"
  Donkey Elephant  Giraffe    Horse
       1        1        1        1

- It is possible to use any other labels for factor levels.

In [51]:
gender <- c("M","F","F","M","M")
factor_gender <- factor(gender) 
levels(factor_gender) <- c("Female","Male") # factors levels are stored as "M" for "Male" and "F" for "Female". Since R assigns characters alphabetically, the order must be Female, Male, not Male, Female
print(factor_gender)

[1] Male   Female Female Male   Male
Levels: Female Male

#### - Data frames
- The data frame is one of the classes.
- Recall that vectors and matrices can store only one class. Data frames allow you to store multiple classes.

In [52]:
print(class(mtcars)) # mtcars is built-in data
print(mtcars)

[1] "data.frame"
                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

- To get the structure of a data frame, use `str()`.
- To get dimensions of a data frame, use `dim()`. (The command is similar to `.shape` in Python.)
- You can use `lengths()` for the number of elements in each column.
    - `length()` (without s) is for a specific column.

In [53]:
print(str(mtcars))
print(dim(mtcars))
print(lengths(mtcars))
print(length(mtcars$mpg))

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...
NULL
[1] 32 11
 mpg  cyl disp   hp drat   wt qsec   vs   am gear carb
  32   32   32   32   32   32   32   32   32   32   32
[1] 32

- Use `summary()` to get a summary table.

In [54]:
print(summary(mtcars))

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

- To get the total number of columns and rows, use `ncol()` and `nrow()`, respectively.

In [55]:
print(ncol(mtcars))
print(nrow(mtcars))

[1] 11
[1] 32

- To get column names and row names, use `colnames()` and `rownames()`, respectively.

In [56]:
print(colnames(mtcars))
print(rownames(mtcars))

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"
 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

- To check if a value is duplicated, use `duplicated()`.
- To check if a value is unique, use `!duplicated()`.

In [57]:
print(duplicated(colnames(mtcars)))
print(!duplicated(colnames(mtcars)))
print(sum(duplicated(rownames(mtcars)))) # the total number of unique index

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[1] 0

- To get unique values, use `unique()`.

In [58]:
unique(rownames(mtcars))

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

##### Get elements
- To access each element, you can use `[]`.
- To slice data, use `[:]`. 
    - To get columns, you can write either `[:]` or `[,:]`.
    - To get rows, use `[:,]`
- You can directly write like `df$column_name`.

In [59]:
# get columns
print(mtcars[1:2]) 
print(mtcars[,1:2]) 
print(mtcars[,"mpg"]) 
print(mtcars$mpg) 
# get rows
print(mtcars[1:2,])

                     mpg cyl
Mazda RX4           21.0   6
Mazda RX4 Wag       21.0   6
Datsun 710          22.8   4
Hornet 4 Drive      21.4   6
Hornet Sportabout   18.7   8
Valiant             18.1   6
Duster 360          14.3   8
Merc 240D           24.4   4
Merc 230            22.8   4
Merc 280            19.2   6
Merc 280C           17.8   6
Merc 450SE          16.4   8
Merc 450SL          17.3   8
Merc 450SLC         15.2   8
Cadillac Fleetwood  10.4   8
Lincoln Continental 10.4   8
Chrysler Imperial   14.7   8
Fiat 128            32.4   4
Honda Civic         30.4   4
Toyota Corolla      33.9   4
Toyota Corona       21.5   4
Dodge Challenger    15.5   8
AMC Javelin         15.2   8
Camaro Z28          13.3   8
Pontiac Firebird    19.2   8
Fiat X1-9           27.3   4
Porsche 914-2       26.0   4
Lotus Europa        30.4   4
Ford Pantera L      15.8   8
Ferrari Dino        19.7   6
Maserati Bora       15.0   8
Volvo 142E          21.4   4
                     mpg cyl
Mazda RX4           21.0   6
Mazda RX4 Wag       21.0   6
Datsun 710          22.8   4
Hornet 4 Drive      21.4   6
Hornet Sportabout   18.7   8
Valiant             18.1   6
Duster 360          14.3   8
Merc 240D           24.4   4
Merc 230            22.8   4
Merc 280            19.2   6
Merc 280C           17.8   6
Merc 450SE          16.4   8
Merc 450SL          17.3   8
Merc 450SLC         15.2   8
Cadillac Fleetwood  10.4   8
Lincoln Continental 10.4   8
Chrysler Imperial   14.7   8
Fiat 128            32.4   4
Honda Civic         30.4   4
Toyota Corolla      33.9   4
Toyota Corona       21.5   4
Dodge Challenger    15.5   8
AMC Javelin         15.2   8
Camaro Z28          13.3   8
Pontiac Firebird    19.2   8
Fiat X1-9           27.3   4
Porsche 914-2       26.0   4
Lotus Europa        30.4   4
Ford Pantera L      15.8   8
Ferrari Dino        19.7   6
Maserati Bora       15.0   8
Volvo 142E          21.4   4
 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4
 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4
              mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4      21   6  160 110  3.9 2.620 16.46  0  1    4    4
Mazda RX4 Wag  21   6  160 110  3.9 2.875 17.02  0  1    4    4

- You can use operators like `==`, `>`, and `<=` to get parciular rows.
    - You can also use `subset()`.
- You can also use `filter()` in the `dplyr` package.
- If a row contains NA, subsetting elements using operators in `[]` returns NA for all values in the row.
    - `select()` and `filter()` even remove that row.
    - To keep NA, add an "or" condition.

In [61]:
col1 <- c("a","a","b","b")
col2 <- c(1,2,1,2)
col3 <- c(NA,0.2,0.4,0.1)
col4 <- c(TRUE,FALSE,FALSE,TRUE)
myDf <- data.frame(id=col1,time=col2,varA=col3,varB=col4,stringsAsFactors=FALSE) # add column names at once, do not read strings as factors
print(myDf)

myDf2 <- myDf[myDf$varA != 0.2,]
print(myDf2)
print(subset(myDf,varA != 0.2)) # using subset
library(dplyr) 
print(filter(myDf,varA != 0.2)) # using filter in the dplyr package

  id time varA  varB
1  a    1   NA  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
     id time varA  varB
NA <NA>   NA   NA    NA
3     b    1  0.4 FALSE
4     b    2  0.1  TRUE
  id time varA  varB
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id time varA  varB
1  b    1  0.4 FALSE
2  b    2  0.1  TRUE

In [62]:
col1 <- c("a","a","b","b")
col2 <- c(1,2,1,2)
col3 <- c(NA,0.2,0.4,0.1)
col4 <- c(TRUE,FALSE,FALSE,TRUE)
myDf <- data.frame(id=col1,time=col2,varA=col3,varB=col4,stringsAsFactors=FALSE)
print(myDf)

myDf2 <- myDf[(myDf$varA != 0.2) | (is.na(myDf$varA)),]
print(myDf2)
print(subset(myDf,varA != 0.2 | is.na(varA))) # using subset
library(dplyr) 
print(filter(myDf,varA != 0.2 | is.na(varA))) # using filter

  id time varA  varB
1  a    1   NA  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id time varA  varB
1  a    1   NA  TRUE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id time varA  varB
1  a    1   NA  TRUE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id time varA  varB
1  a    1   NA  TRUE
2  b    1  0.4 FALSE
3  b    2  0.1  TRUE

- To subset columns, use `[]`, `subset()`, or `select()` in the dplyr package.

In [63]:
# subset columns
drops <- c("mpg","cyl")
print(mtcars[,!(colnames(mtcars) %in% drops)])
print(subset(mtcars,select=-c(mpg, cyl))) # using subset

                     disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128             78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic          75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla       71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9            79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa         95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          121.0 109 4.11 2.780 18.60  1  1    4    2
                     disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128             78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic          75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla       71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9            79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa         95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          121.0 109 4.11 2.780 18.60  1  1    4    2

- `select` in the `dplyr` package is very useful.

In [64]:
library(dplyr) 
print(select(mtcars,disp:carb)) # select columns from disp to carb
print(select(mtcars,starts_with("m"))) # columns starting with "m"
#print(select(mtcars, ends_with("p"))) # columns ending with "m"
#print(select(mtcars, contains("q"))) # columns containing w or p
# another useful option num_range("x", 1:3) # columns x1, x2, and x3.

                     disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128             78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic          75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla       71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9            79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa         95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          121.0 109 4.11 2.780 18.60  1  1    4    2
                     mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

- To get first few rows and last few rows easily, use `head()` and `tail()`, respectively.

In [65]:
print(head(mtcars,n=5)) # first 5 rows
print(tail(mtcars,n=5)) # last 5 rows

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
                mpg cyl  disp  hp drat    wt qsec vs am gear carb
Lotus Europa   30.4   4  95.1 113 3.77 1.513 16.9  1  1    5    2
Ford Pantera L 15.8   8 351.0 264 4.22 3.170 14.5  0  1    5    4
Ferrari Dino   19.7   6 145.0 175 3.62 2.770 15.5  0  1    5    6
Maserati Bora  15.0   8 301.0 335 3.54 3.570 14.6  0  1    5    8
Volvo 142E     21.4   4 121.0 109 4.11 2.780 18.6  1  1    4    2

- Appendix: To get the indices of matched elements, use `grep()` or `match()`.
    - `match()` is used for the exact match like `==`.

In [66]:
mycars <- read.table('cars.csv',header=TRUE,sep=',',stringsAsFactors=FALSE)
print(mycars)
grep("Japan",mycars$country)
match("Japan",mycars$country)
grep("Jap",mycars$country)
match("Jap",mycars$country) # this is not exact match

   id cars_per_cap       country drives_right
1  US          809 United States         TRUE
2 AUS          731     Australia        FALSE
3 JAP          588         Japan        FALSE
4  IN           18         India        FALSE
5  RU          200        Russia         TRUE
6 MOR           70       Morocco         TRUE
7  EG           45         Egypt         TRUE

[1] 3

[1] 3

[1] 3

[1] NA

##### Change contents
- To delete a column, use `<- NULL`.
    - Similar to `del` in Python.
- Alternatively, you can use `[]` for subsetting data.

In [67]:
mycars <- read.table('cars.csv',header=TRUE,sep=',',row.names='id',stringsAsFactors=FALSE)
print(mycars)
mycars$country <- NULL
print(mycars)

    cars_per_cap       country drives_right
US           809 United States         TRUE
AUS          731     Australia        FALSE
JAP          588         Japan        FALSE
IN            18         India        FALSE
RU           200        Russia         TRUE
MOR           70       Morocco         TRUE
EG            45         Egypt         TRUE
    cars_per_cap drives_right
US           809         TRUE
AUS          731        FALSE
JAP          588        FALSE
IN            18        FALSE
RU           200         TRUE
MOR           70         TRUE
EG            45         TRUE

- You can sort elements using `order()`.
    - Though rarely used, you can also sort data by row values.
- Another option is `arrange()` in the `dplyr` package.

In [68]:
attach(mtcars)
print(mtcars[order(mpg,cyl),]) # sort by columns
print(mtcars[order(-mpg,-cyl),]) # sort by columns (descending)
print(mtcars[,order(mtcars["Mazda RX4",])]) # sort by a row
#require(dplyr)
#print(arrange(mtcars, cyl, desc(mpg))) # sort by cyl (ascending) and mpg (descending)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
                    vs am    wt drat gear carb cyl  qsec  mpg  hp  disp
Mazda RX4            0  1 2.620 3.90    4    4   6 16.46 21.0 110 160.0
Mazda RX4 Wag        0  1 2.875 3.90    4    4   6 17.02 21.0 110 160.0
Datsun 710           1  1 2.320 3.85    4    1   4 18.61 22.8  93 108.0
Hornet 4 Drive       1  0 3.215 3.08    3    1   6 19.44 21.4 110 258.0
Hornet Sportabout    0  0 3.440 3.15    3    2   8 17.02 18.7 175 360.0
Valiant              1  0 3.460 2.76    3    1   6 20.22 18.1 105 225.0
Duster 360           0  0 3.570 3.21    3    4   8 15.84 14.3 245 360.0
Merc 240D            1  0 3.190 3.69    4    2   4 20.00 24.4  62 146.7
Merc 230             1  0 3.150 3.92    4    2   4 22.90 22.8  95 140.8
Merc 280             1  0 3.440 3.92    4    4   6 18.30 19.2 123 167.6
Merc 280C            1  0 3.440 3.92    4    4   6 18.90 17.8 123 167.6
Merc 450SE           0  0 4.070 3.07    3    3   8 17.40 16.4 180 275.8
Merc 450SL           0  0 3.730 3.07    3    3   8 17.60 17.3 180 275.8
Merc 450SLC          0  0 3.780 3.07    3    3   8 18.00 15.2 180 275.8
Cadillac Fleetwood   0  0 5.250 2.93    3    4   8 17.98 10.4 205 472.0
Lincoln Continental  0  0 5.424 3.00    3    4   8 17.82 10.4 215 460.0
Chrysler Imperial    0  0 5.345 3.23    3    4   8 17.42 14.7 230 440.0
Fiat 128             1  1 2.200 4.08    4    1   4 19.47 32.4  66  78.7
Honda Civic          1  1 1.615 4.93    4    2   4 18.52 30.4  52  75.7
Toyota Corolla       1  1 1.835 4.22    4    1   4 19.90 33.9  65  71.1
Toyota Corona        1  0 2.465 3.70    3    1   4 20.01 21.5  97 120.1
Dodge Challenger     0  0 3.520 2.76    3    2   8 16.87 15.5 150 318.0
AMC Javelin          0  0 3.435 3.15    3    2   8 17.30 15.2 150 304.0
Camaro Z28           0  0 3.840 3.73    3    4   8 15.41 13.3 245 350.0
Pontiac Firebird     0  0 3.845 3.08    3    2   8 17.05 19.2 175 400.0
Fiat X1-9            1  1 1.935 4.08    4    1   4 18.90 27.3  66  79.0
Porsche 914-2        0  1 2.140 4.43    5    2   4 16.70 26.0  91 120.3
Lotus Europa         1  1 1.513 3.77    5    2   4 16.90 30.4 113  95.1
Ford Pantera L       0  1 3.170 4.22    5    4   8 14.50 15.8 264 351.0
Ferrari Dino         0  1 2.770 3.62    5    6   6 15.50 19.7 175 145.0
Maserati Bora        0  1 3.570 3.54    5    8   8 14.60 15.0 335 301.0
Volvo 142E           1  1 2.780 4.11    4    2   4 18.60 21.4 109 121.0

- To transpose data, use `t()`.

In [69]:
print(t(mtcars))

     Mazda RX4 Mazda RX4 Wag Datsun 710 Hornet 4 Drive Hornet Sportabout
mpg      21.00        21.000      22.80         21.400             18.70
cyl       6.00         6.000       4.00          6.000              8.00
disp    160.00       160.000     108.00        258.000            360.00
hp      110.00       110.000      93.00        110.000            175.00
drat      3.90         3.900       3.85          3.080              3.15
wt        2.62         2.875       2.32          3.215              3.44
qsec     16.46        17.020      18.61         19.440             17.02
vs        0.00         0.000       1.00          1.000              0.00
am        1.00         1.000       1.00          0.000              0.00
gear      4.00         4.000       4.00          3.000              3.00
carb      4.00         4.000       1.00          1.000              2.00
     Valiant Duster 360 Merc 240D Merc 230 Merc 280 Merc 280C Merc 450SE
mpg    18.10      14.30     24.40    22.80    19.20     17.80      16.40
cyl     6.00       8.00      4.00     4.00     6.00      6.00       8.00
disp  225.00     360.00    146.70   140.80   167.60    167.60     275.80
hp    105.00     245.00     62.00    95.00   123.00    123.00     180.00
drat    2.76       3.21      3.69     3.92     3.92      3.92       3.07
wt      3.46       3.57      3.19     3.15     3.44      3.44       4.07
qsec   20.22      15.84     20.00    22.90    18.30     18.90      17.40
vs      1.00       0.00      1.00     1.00     1.00      1.00       0.00
am      0.00       0.00      0.00     0.00     0.00      0.00       0.00
gear    3.00       3.00      4.00     4.00     4.00      4.00       3.00
carb    1.00       4.00      2.00     2.00     4.00      4.00       3.00
     Merc 450SL Merc 450SLC Cadillac Fleetwood Lincoln Continental
mpg       17.30       15.20              10.40              10.400
cyl        8.00        8.00               8.00               8.000
disp     275.80      275.80             472.00             460.000
hp       180.00      180.00             205.00             215.000
drat       3.07        3.07               2.93               3.000
wt         3.73        3.78               5.25               5.424
qsec      17.60       18.00              17.98              17.820
vs         0.00        0.00               0.00               0.000
am         0.00        0.00               0.00               0.000
gear       3.00        3.00               3.00               3.000
carb       3.00        3.00               4.00               4.000
     Chrysler Imperial Fiat 128 Honda Civic Toyota Corolla Toyota Corona
mpg             14.700    32.40      30.400         33.900        21.500
cyl              8.000     4.00       4.000          4.000         4.000
disp           440.000    78.70      75.700         71.100       120.100
hp             230.000    66.00      52.000         65.000        97.000
drat             3.230     4.08       4.930          4.220         3.700
wt               5.345     2.20       1.615          1.835         2.465
qsec            17.420    19.47      18.520         19.900        20.010
vs               0.000     1.00       1.000          1.000         1.000
am               0.000     1.00       1.000          1.000         0.000
gear             3.000     4.00       4.000          4.000         3.000
carb             4.000     1.00       2.000          1.000         1.000
     Dodge Challenger AMC Javelin Camaro Z28 Pontiac Firebird Fiat X1-9
mpg             15.50      15.200      13.30           19.200    27.300
cyl              8.00       8.000       8.00            8.000     4.000
disp           318.00     304.000     350.00          400.000    79.000
hp             150.00     150.000     245.00          175.000    66.000
drat             2.76       3.150       3.73            3.080     4.080
wt               3.52       3.435       3.84            3.845     1.935
qsec            16.87      17.300      15.41           17.050    18.900
vs               0.00       0.000       0.00            0.000     1.000
am               0.00       0.000       0.00            0.000     1.000
gear             3.00       3.000       3.00            3.000     4.000
carb             2.00       2.000       4.00            2.000     1.000
     Porsche 914-2 Lotus Europa Ford Pantera L Ferrari Dino Maserati Bora
mpg          26.00       30.400          15.80        19.70         15.00
cyl           4.00        4.000           8.00         6.00          8.00
disp        120.30       95.100         351.00       145.00        301.00
hp           91.00      113.000         264.00       175.00        335.00
drat          4.43        3.770           4.22         3.62          3.54
wt            2.14        1.513           3.17         2.77          3.57
qsec         16.70       16.900          14.50        15.50         14.60
vs            0.00        1.000           0.00         0.00          0.00
am            1.00        1.000           1.00         1.00          1.00
gear          5.00        5.000           5.00         5.00          5.00
carb          2.00        2.000           4.00         6.00          8.00
     Volvo 142E
mpg       21.40
cyl        4.00
disp     121.00
hp       109.00
drat       4.11
wt         2.78
qsec      18.60
vs         1.00
am         1.00
gear       4.00
carb       2.00

- You can use `reshape` to reshape the data.

In [70]:
col1 <- c("a","a","b","b")
col2 <- c(1,2,1,2)
col3 <- c(0.5,0.2,0.4,0.1)
col4 <- c(TRUE,FALSE,FALSE,TRUE)
myDf <- data.frame(id=col1,time=col2,varA=col3,varB=col4,stringsAsFactors=FALSE)
print(myDf)

myDf <- reshape(myDf,idvar="id",timevar="time",direction="wide")
rownames(myDf) <- NULL # delete the old rownames
print(myDf)
myDf <- reshape(myDf,idvar="id",timevar="time",direction="long")
rownames(myDf) <- NULL # delete the old rownames
print(myDf)

  id time varA  varB
1  a    1  0.5  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id varA.1 varB.1 varA.2 varB.2
1  a    0.5   TRUE    0.2  FALSE
2  b    0.4  FALSE    0.1   TRUE
  id time varA.1 varB.1
1  a    1    0.5   TRUE
2  b    1    0.4  FALSE
3  a    2    0.2  FALSE
4  b    2    0.1   TRUE

- Appendix: Use `melt()` in the `reshape2` package to show data in an alternative form.
<!-- `dcast()` 
myDf_back <- dcast(myDf_melt, id + time ~ variable)
print(myDf_back)
-->

In [71]:
library(reshape2)
col1 <- c("a","a","b","b")
col2 <- c(1,2,1,2)
col3 <- c(0.5,0.2,0.4,0.1)
col4 <- c(TRUE,FALSE,FALSE,TRUE)
myDf <- data.frame(id=col1,time=col2,varA=col3,varB=col4,stringsAsFactors=FALSE)
print(myDf)
print(melt(myDf,id.vars=c("id","time")))

  id time varA  varB
1  a    1  0.5  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id time variable value
1  a    1     varA   0.5
2  a    2     varA   0.2
3  b    1     varA   0.4
4  b    2     varA   0.1
5  a    1     varB   1.0
6  a    2     varB   0.0
7  b    1     varB   0.0
8  b    2     varB   1.0

- To rename column and row names, use `colnames()` and `rownames()`, respectively.
    - For column names, you can also use `setnames()` in the `data.table` package.
<!--    - For column names, you can also use `rename()` in the `dplyr` package. -->

In [72]:
col1 <- c("a","a","b","b")
col2 <- c(1,2,1,2)
col3 <- c(0.5,0.2,0.4,0.1)
col4 <- c(TRUE,FALSE,FALSE,TRUE)
myDf <- data.frame(id=col1,time=col2,varA=col3,varB=col4,stringsAsFactors=FALSE)
print(myDf)
colnames(myDf)[colnames(myDf)=="varA"] <- "varC" # replace a column name
print(myDf)
#library(data.table) #install.packages("data.table", repos='http://cran.us.r-project.org')
#print(setnames(myDf,"varB","varD"))

  id time varA  varB
1  a    1  0.5  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id time varC  varB
1  a    1  0.5  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE

- To replace values, use `replace()` or `gsub()`.
    - `gsub()` returns character. If you want to replace numerics, use `replace()`.

In [73]:
col1 <- c("a","a","b","b")
col2 <- c(1,2,1,2)
col3 <- c(0.5,0.2,0.4,0.1)
col4 <- c(TRUE,FALSE,FALSE,TRUE)
myDf <- data.frame(id=col1,time=col2,varA=col3,varB=col4,stringsAsFactors=FALSE)
print(myDf)
myDf$varA <- replace(myDf$varA,myDf$varA==0.5,0.8) # replace varA == 0.5 to 0.8
print(myDf)
myDf$varA <- gsub(0.5,0.8,myDf$varA) # using gsub
print(myDf)
print(class(myDf$varA))

  id time varA  varB
1  a    1  0.5  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id time varA  varB
1  a    1  0.8  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
  id time varA  varB
1  a    1  0.8  TRUE
2  a    2  0.2 FALSE
3  b    1  0.4 FALSE
4  b    2  0.1  TRUE
[1] "character"

##### Computation
- `colSums()` and `rowSums()` for calculating sums for each column and row, respectively.
    - Instead, `sum()` compute sums for a specific column or row or the sum of all elements in a data frame.
- `colMeans()` and `rowMeans()` for calculating means for each column and row, respectively.
    - Instead, `mean()` compute means for a specific column, but not a row.

In [74]:
col2 <- c(1,2,1,2)
col3 <- c(1.5,0.9,0.2,0.3)
col4 <- c(0.5,0.2,0.4,0.1)
myDf <- data.frame(time=col2,varA=col3,varB=col4,stringsAsFactors=FALSE)
print(myDf)
print(sum(myDf$varA))
print(colSums(myDf[,c("varA","varB")]))
print(rowSums(myDf[c(1,3),]))

  time varA varB
1    1  1.5  0.5
2    2  0.9  0.2
3    1  0.2  0.4
4    2  0.3  0.1
[1] 2.9
varA varB
 2.9  1.2
  1   3
3.0 1.6

- NaN and NA are not always ignored in calculation (unlike Python).

In [75]:
myDf <- data.frame(matrix(1:9,byrow=TRUE,nrow=3)) 
print(myDf)
myDf$X1 <- replace(myDf$X1,myDf$X1==1,NaN)
print(myDf)
print(sum(myDf$X1)) # returns NaN
print(sum(myDf$X1,na.rm=TRUE)) # ignore NaN

  X1 X2 X3
1  1  2  3
2  4  5  6
3  7  8  9
   X1 X2 X3
1 NaN  2  3
2   4  5  6
3   7  8  9
[1] NaN
[1] 11

##### Treat missing values
- To check if data contain NA or NaN, use `is.na()`.
    - To check if data contain NaN, use `is.nan()`.
- To check if data contain inf or -inf, use `is.infinite()`.

In [76]:
x <- c(-Inf,NA,3,Inf)
y <- c(NA,0/0,NaN,log(0))
my_data <- data.frame(x,y)
print(my_data)
print(is.na(my_data))
print(sum(is.na(my_data))) # total number of NA or NaN (counting TRUEs)
print(apply(is.na(my_data),2,sum)) # total number of NA or NaN by column (change 2 to 1 to count by row)
print(is.nan(as.matrix(my_data))) # to use is.nan in the data with multiple rows, one should use as.matrix()
# print(is.nan(my_data)) # this returns nothing
print(is.infinite(as.matrix(my_data))) # to use is.infinite in the data with multiple rows, one should use as.matrix()

     x    y
1 -Inf   NA
2   NA  NaN
3    3  NaN
4  Inf -Inf
         x     y
[1,] FALSE  TRUE
[2,]  TRUE  TRUE
[3,] FALSE  TRUE
[4,] FALSE FALSE
[1] 4
x y
1 3
         x     y
[1,] FALSE FALSE
[2,] FALSE  TRUE
[3,] FALSE  TRUE
[4,] FALSE FALSE
         x     y
[1,]  TRUE FALSE
[2,] FALSE FALSE
[3,] FALSE FALSE
[4,]  TRUE  TRUE

- To drop rows with an NA or NaN, use `[]`.
- To drop rows with all NA or NaN, use `complete.cases()`.

In [77]:
x <- c(-Inf,NA,3,Inf)
y <- c(NA,0/0,NaN,log(0))
my_data <- data.frame(x,y)
print(my_data)
my_data_nomiss <- my_data[!is.na(my_data$x),] 
print(my_data_nomiss)
my_data_nomiss <- my_data[complete.cases(my_data),]
print(my_data_nomiss)

     x    y
1 -Inf   NA
2   NA  NaN
3    3  NaN
4  Inf -Inf
     x    y
1 -Inf   NA
3    3  NaN
4  Inf -Inf
    x    y
4 Inf -Inf

- To drop columns with all NA or NaN, use `[]`.

In [78]:
x <- c(log(0), NA, 3, Inf)
y <- c(NA, 0/0, NaN, NA)
z <- c(1,2,3,4)
my_data <- data.frame(x,y,z)
print(my_data)
my_data2 <- my_data[,colSums(is.na(my_data)) != nrow(my_data)]
print(my_data2)

     x   y z
1 -Inf  NA 1
2   NA NaN 2
3    3 NaN 3
4  Inf  NA 4
     x z
1 -Inf 1
2   NA 2
3    3 3
4  Inf 4

- Replace NA, NaN, inf or -inf with another value.

In [79]:
x <- c(-Inf, NA, 3, Inf)
y <- c(NA, 0/0, NaN, log(0))
z <- c(1,2,3,4)
my_data <- data.frame(x,y,z)
print(my_data)
my_data$x[is.na(my_data$x)] <- 0 # NA or NaN in column x
print(my_data)
my_data[is.na(my_data)] <- 0 # all NA or NaN
print(my_data)

     x    y z
1 -Inf   NA 1
2   NA  NaN 2
3    3  NaN 3
4  Inf -Inf 4
     x    y z
1 -Inf   NA 1
2    0  NaN 2
3    3  NaN 3
4  Inf -Inf 4
     x    y z
1 -Inf    0 1
2    0    0 2
3    3    0 3
4  Inf -Inf 4

##### Merge
- To merge datasets, use `merge()`.
    - Alternatively, you can use `cbind()` and `rbind()`.

In [ ]:
id <- c("a","b","c")
weight <- c(80.0,65.0,55.0)
data1 <- data.frame(id,weight)
 
id <- c("a","b","c","d")
height <- c(180.0,170.0,150.0,155.0)
data2 <- data.frame(id,height)

print(merge(data1,data2,by="id")) # exclude unmatched ones
print(merge(data1,data2,by="id",all=TRUE)) # include all

- You can merge even if the key names are different.

In [ ]:
id <- c("a","b","c")
weight <- c(80.0,65.0,55.0)
data1 <- data.frame(id,weight)
 
xid <- c("a","b","c","d")
height <- c(180.0,170.0,150.0,155.0)
data2 <- data.frame(xid,height)

print(merge(data1,data2,by.x="id",by.y="xid")) # exclude unmatched ones
print(merge(data1,data2,by.x="id",by.y="xid",all=TRUE)) # include all

- You can use more than one key.

In [ ]:
id <- c("a","a","b","b")
time <- c(1,2,1,2)
weight <- c(80.0,79.0,54.0,55.0)
data1 <- data.frame(id,time,weight)

id <- c("a","a","b","b","c")
time <- c(1,2,1,2,1)
height <- c(180.0,180.0,170.0,170.0,155.0)
data2 <- data.frame(id,time,height)

print(merge(data1,data2,by=c("id","time"))) # exclude unmatched ones
print(merge(data1,data2,by=c("id","time"),all=TRUE)) # include all

- What happens if both datasets have the same column name but the contents are different?

In [ ]:
id <- c("a","b","c")
weight <- c(80.0,65.0,55.0)
data1 <- data.frame(id, weight)
 
xid <- c("a","b","c","d")
weight <- c(180.0,170.0,150.0,155.0)
data2 <- data.frame(xid,weight)

print(merge(data1,data2,by.x="id",by.y="xid")) # exclude unmatched ones
print(merge(data1,data2,by.x="id",by.y="xid",all=TRUE)) # include all

#### - Lists
- Lists are one of the classes.
- Lists can contain any class.
- The structure of lists in R looks quite different from that of lists in Python.

In [ ]:
x <- c(1,2)
y <- matrix(1:4,nrow=2,ncol=2)
z <- mtcars
mylist <- list(x,y,z)
names(mylist) <- c("vec","mat","df")
print(class(mylist))
print(mylist)

- To get an element in a list, use `[[]]` or` $ `, and `[]`.

In [ ]:
x <- c(1,2)
y <- matrix(1:4,nrow=2,ncol=2)
z <- mtcars
mylist <- list(vec=x,mat=y,df=z) # assign names
print(mylist[[2]]) # this returns mat
print(mylist[["mat"]]) # this returns mat
print(mylist$mat) # this returns mat

print(mylist$mat[,1]) # this returns the first column in mat

- To get the structure of a list, use `str()`.
- To get the length of each element in a list, use `lengths()`.
    - To get the length of the list, use `length()`.

In [ ]:
x <- c(1,2)
y <- matrix(1:4,nrow=2,ncol=2)
z <- mtcars
mylist <- list(vec=x,mat=y,df=z)
print(str(mylist))
print(lengths(mylist))
print(length(mylist))

## 4. Functions and Packages
- As in Python, there are many functions and packages.
- You have already used some of the functions such as `print()`, `paste()`, `summary()`, `sum()`, and `subset()`.
    - `builtins()` to get the list of built-in functions.
- You can get a help document using `?` or `help()`.

In [60]:
?print

- Packages contain functions, data, etc.
- There are 12,649 packages (as of 2018/06/26) in  [CRAN](https://cran.r-project.org/).
- To install a package, use `install.packages()`. You can use `c()` to install multiple packages.
- Installed packages can be loaded using `library()`.
<!--
    - Type `.libPaths()` to check where packages are stored.
    - If no path to `Anaconda3/Lib/R/library` is found, type
```python
.libPaths("C:/[path_to_the_folder]/Anaconda3/Lib/R/library")
```
to set the path. You have to specify the path to your local directory.
    - Then type the following:
-->

In [ ]:
#install.packages(c("ggplot2","foreign"),repos='http://cran.us.r-project.org')
library(ggplot2)

- To check functions in a package, use `lsf.str()` or `ls()`.

In [ ]:
lsf.str("package:ggplot2")
#ls("package:ggplot2")

- You can list loaded packages using `(.packages())`.
- You can unload packages using `detach()`.

In [ ]:
(.packages())
detach(package:ggplot2)
(.packages())

- The following commands install the `nycflights13` package and load it.
 <!--   - `dplyr` is a popular package for data scientist, focused on tools for working with data frames. -->
    - `nycflights13` includes data on 336,776 flights departed from NYC in 2013.

In [64]:
install.packages("nycflights13",repos='http://cran.us.r-project.org')
library(nycflights13)

- Unlike Python, you can use a function without referring to any package at any time (e.g., no, `np.` as in `np.narray`).
- In the following command:
    <!-- 
    - `filter()` included in the dplyr package
    - `head()` included in the utils package (= a built-in package)
    -->
    - `flights` is included in the nycflights13 package.

In [ ]:
print(head(subset(flights, month == 3 & day == 1), 5))

- You can make easily your own function. The following example uses `x` and `y` as inputs and returns `x + y`.

In [ ]:
mysum <- function(x,y) {
    return(x + y)
}
print(mysum(2,3))

## 5. If Statements
- R uses `{}` for if statements. Also, the condition has to be included in `()`.

In [ ]:
inp <- "Hello"
if (inp == "Hello") {
    print("World!")
}

- `else` and `else if` can be used.

In [ ]:
inp <- "Hello"
if (inp == "Hell") {
    print("No.")
} else if (inp == "He") {
    print("No.")
} else print("World!")

- The above example looks ugly. Alternatively, you can define a function.

In [ ]:
myfunc <- function(inp) {
    if (inp == "Hell") out <- "No."
    else if (inp == "He") out <- "No."
    else out <- "World!"
    return(out)
}
print(myfunc("Hello"))

- Other relational operators are: `!=`, `>`, `<`, `>=`, and `<=`.
- You can also combine them with `&&`, `||` and `%in%`. 
    - R does not allow `is` and `not` unlike Python.

In [ ]:
year <- 2018
if ((year > 2017) && (year < 2019)) print("2018!")
if (year != 2017) print('Not 2017!')

myvec = c(NA,'b','c')
if (NA %in% myvec) print('NA in myvec!')

## 6. Loops
- Use `for` or `while` for loops.
- `for` loops use `in`.

In [ ]:
for (year in 2010:2019) {
  print(paste("The year is", year))
}

- You can also loop over vectors.

In [ ]:
for (vec in c(2010, TRUE, "a")) {
  print(vec)
}

- Loops can be simplified.

In [ ]:
for (year in 2010:2019) print(year)

- You can insert elements into a vector, string, matrix, list, etc.

In [ ]:
a <- NULL
for (i in 1:10) {
    a[[i]] <- i
}
print(a)
b <- c()
for (i in 1:10) {
    b[[i]] <- i
}
print(b)
c <- ""
for (i in 1:10) {
    c[[i]] <- i
}
print(c)
d <- matrix()
for (i in 1:10) {
    d[[i]] <- i
}
print(d)
e <- list()
for (i in 1:10) {
    e[[i]] <- i
}
print(e)

`while` loops use counters.

In [ ]:
cnt <- 0
while (cnt < 10) {
    print(cnt)
    cnt <- cnt + 1
}

- Infinite loops use `repeat`.
- Infinite loops often use if statements with `break` and `next`.
    - `break` means you will exit the current loop.
    - `next` means you will go back to the starting point of the current loop (like `continue` in Python).

In [ ]:
print("--- infinite loop till 9 ---")
cnt <- 0
repeat {
    print(cnt)
    cnt <- cnt + 1
    if (cnt >= 10) break
}


print("--- infinite loop till 9, except 2 ---")
cnt <- 0
repeat {
    if (cnt == 2) {
        cnt <- cnt + 1
        next
    }
    print(cnt)
    cnt <- cnt + 1
    
    if (cnt >= 10) break
}

- You can combine functions with loops.

In [ ]:
myfive <- function(x) { # myfive return "Five!" if the input is five, and "." otherwise.
    if (x == 5) y <- "Five!"
    else y <- "."
    return(y)
}
for (x in 1:5) {
    print(myfive(x))
}